launch>
   <arg name="marker_size" default="4.5" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />

    <arg name="cam_image_topic" default="/sciurus17/camera/color/image_raw" />
    <arg name="cam_info_topic" default="/sciurus17/camera/color/camera_info" />
    <arg name="output_frame" default="/base_link" />

    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen"
     args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

    <node name="visual_feed_back_with_ar_marker" pkg="sciurus17_examples" type="visual_feedback.py" output="screen" />
</launch>
