<launch>
  <arg name="use_effort_right_arm" default="false" />

  <group ns="/sciurus17/controller1">
    <rosparam file="$(find sciurus17_control)/config/sciurus17_fake_control1.yaml" command="load"/>
    <param if="$(arg use_effort_right_arm)" name="right_arm_controller/type" value="effort_controllers/JointTrajectoryController" />

    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find sciurus17_description)/urdf/sciurus17.urdf.xacro'
               use_gazebo_simulation:=true
               load_trans1:=true
               use_effort_right_arm:=$(arg use_effort_right_arm)"/>
    <node name="controller_manager1"
        pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen"
        args="joint_state_controller
              right_arm_controller
              right_hand_controller"/>
  </group>

  <group ns="/sciurus17/controller2">
    <rosparam file="$(find sciurus17_control)/config/sciurus17_fake_control2.yaml" command="load"/>

    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find sciurus17_description)/urdf/sciurus17.urdf.xacro' use_gazebo_simulation:=true load_trans2:=true"/>
    <node name="controller_manager2"
        pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen"
        args="joint_state_controller
              left_arm_controller
              left_hand_controller"/>
  </group>

  <group ns="/sciurus17/controller3">
    <rosparam file="$(find sciurus17_control)/config/sciurus17_fake_control3.yaml" command="load"/>

    <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find sciurus17_description)/urdf/sciurus17.urdf.xacro' use_gazebo_simulation:=true load_trans3:=true"/>
    <node name="controller_manager3"
        pkg="controller_manager"
        type="spawner" respawn="false"
        output="screen"
        args="joint_state_controller
              neck_controller
              waist_yaw_controller"/>
  </group>

  <node name="controller_gazebo" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="gazebo_ros_control"/>
  
</launch>
