<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="default_transmission" 
    params="joint_name">

    <transmission name="${joint_name}_trans">
      <provideFeedback>true</provideFeedback>
      <implicitSpringDamper>1</implicitSpringDamper>
      <motorTorqueConstant>0.418</motorTorqueConstant>
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="{joint_name}_motor">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

  <gazebo reference="camera_link">
      <sensor type="depth" name="openni_camera_camera">       
          <always_on>1</always_on>
          <visualize>true</visualize>             
          <camera>
              <horizontal_fov>1.047</horizontal_fov>  
              <image>
                  <width>640</width>
                  <height>480</height>
                  <format>R8G8B8</format>
              </image>
              <depth_camera>
              </depth_camera>
              <clip>
                  <near>0.1</near>
                  <far>100</far>
              </clip>
          </camera>
          <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
              <robotNamespace>sciurus17</robotNamespace>
              <alwaysOn>true</alwaysOn>
                  <updateRate>10.0</updateRate>
                  <cameraName>camera</cameraName>
                  <frameName>openni_camera_link</frameName>                   
              <imageTopicName>rgb/image_raw</imageTopicName>
              <depthImageTopicName>depth/image_raw</depthImageTopicName>
              <pointCloudTopicName>depth/points</pointCloudTopicName>
              <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>              
              <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>            
              <pointCloudCutoff>0.4</pointCloudCutoff>                
                  <hackBaseline>0.07</hackBaseline>
                  <distortionK1>0.0</distortionK1>
                  <distortionK2>0.0</distortionK2>
                  <distortionK3>0.0</distortionK3>
                  <distortionT1>0.0</distortionT1>
                  <distortionT2>0.0</distortionT2>
              <CxPrime>0.0</CxPrime>
              <Cx>0.0</Cx>
              <Cy>0.0</Cy>
              <focalLength>0.0</focalLength>
          </plugin>
      </sensor>
  </gazebo>

  <gazebo>
    <plugin name='gazebo_ros_control1' filename='libgazebo_ros_control.so'>
      <robotNamespace>/sciurus17/controller1</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>

    <plugin name='gazebo_ros_control2' filename='libgazebo_ros_control.so'>
      <robotNamespace>/sciurus17/controller2</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
    <plugin name='gazebo_ros_control3' filename='libgazebo_ros_control.so'>
      <robotNamespace>/sciurus17/controller3</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>

  </gazebo>

</robot>
